<mat-toolbar color="primary" [class.mat-elevation-z8]="true">
  <mat-toolbar-row>
    <span>Welcome to the forum {{ loggedinUser }}</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-tab-group [dynamicHeight]="true">
  <mat-tab label="My Threads" style="width: 100%;">
    <app-my-threads></app-my-threads>
  </mat-tab>
  <mat-tab label="All Threads" style="width: 100%;">
    <app-all-threads></app-all-threads>
  </mat-tab>
</mat-tab-group>
<button
  mat-fab
  color="primary"
  style="right: 20px; bottom: 10px; left: auto; position: absolute; z-index: 1;"
  (click)="createThread()"
>
  <mat-icon>create</mat-icon>
</button>
